html, body {
  margin: 0;
  padding: 0;  
  height: 100%;
}

.container {
  width: 100%;
}

a:link, a:visited {
  color:#FF5E99; text-decoration:none;
}

a:hover, a:active {
  color:#FF5E99; text-decoration:underline;
}

header {
  width: 100%;  
  height: 60px;
  padding: 10px;
}

header h1, #last-tweet, #last-tweet p {
  display: inline;
}

header h1 {
  padding-right: 20px;
}

#last-tweet details {
  display: none;
}

#map_canvas { 
  width: 100%;  
  position: absolute;  
  top: 60px;
  bottom: 0;
}